.feature {

    max-width: 100%;


}

body{
    text-align: left;
    background-image: url("https://thumbs.dreamstime.com/z/astrological-zodiac-horoscope-star-signs-symbols-icon-set-174567535.jpg")
}